---
const target = 'https://www.pechymn.com/';
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0;url=${target}`} />
    <title>Redirecting...</title>
  </head>
  <body>
    <a href={target}>前往平安詩集網站</a>
  </body>
</html>
